* {
    background-color: #17212d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;  
  }


.my_card {
    height: 340px;
    width: 200px;
    background-color: lightgrey;
}
img {
    max-width: 50px;
}



    h5 {
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
    }
    .my_text {
        color: #6e6b68;
        text-align: center;
        font-size: small;
    }



.header_container {

    width: 100vw;
    margin-bottom: 50px;
}
    
    .header {
        justify-content: left;
        height: 70px;
        color: #24d34e;
    }

        img {
            max-width: 50px;
            
        }

        .select_genre {
            width: 100%;
            background-color: #fff;
        }


    
